name: Deploy

on:
  workflow_call:
    outputs:
      status_icon:
        value: ${{ jobs.make.outputs.status_icon }}

jobs:
  make:
    name: Build and deploy
    runs-on: ubuntu-latest
    outputs:
      status_icon: ${{ steps.status.outputs.icon }}
    steps:
      - id: deploy
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: |
          echo "$GITHUB_CONTEXT"

          dsa

      - name: Status
        id: status
        if: always()
        run: |
          if [[ ${{ steps.deploy.outcome }} == "success" ]]; then
              echo "icon=" >> $GITHUB_OUTPUT
          else
              echo "icon=âŒ" >> $GITHUB_OUTPUT
          fi
