name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    secrets: inherit

  notify:
    needs:
      - deploy
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - id: changes
        uses: akeylimepie/changes-action@main

      - id: status
        run: |
          if [[ ${{ needs.deploy.result }} == "success" ]]; then
              echo "icon=" >> $GITHUB_OUTPUT
          else
              echo "icon=âŒ" >> $GITHUB_OUTPUT
          fi

      - name: Notify
        run: |
          echo "${{ steps.status.outputs.icon }} ${{ needs.deploy.result }}"
          
          ls -la
          
          echo "${{ steps.changes.outputs.text }}"
